---
layout: page
title: 전체글목록
permalink: /archive/
---

<article id="archive">
<!-- <p><div id="toc"><p class="toc_title">년도</p></div></p> -->
<p>
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h2 class="archive_year">{{ post.date | date: '%Y년' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="archive_year">{{ post.date | date: '%Y년' }}</h2>
      {% endif %}
    {% endunless %}

    <li class="archive_post_list" data-index="{{ post.title | downcase }}"><span class="archive-time"><time>{{ post.date | date:"%-m월 %-d일" }}</time></span>&nbsp;&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</p>
</article>
