_site
_drafts
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
gulpfile.js
git_post_update.bat
git_blog_maintain.bat
git_push.bat
gulp penthouse.bat
jekyll watch.bat
gulpfile.js
package.json