html,
body,
div,
h1,
p,
a,
img,
article,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
header,
nav {
  display: block;
}

body {
  line-height: 1;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #fff;
  font: 18px/1.4 "Open Sans","NanumBarunGothic","NanumGothic","Malgun Gothic","Spoqa Han Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

div.entry h1, div.entry h2, div.entry h3, div.entry h4, div.entry h5, div.entry h6 {
  font-family: "나눔스퀘어","NanumSquare","나눔바른고딕","NanumBarunGothic","나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","Spoqa Han Sans","Noto Sans Korean","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  color: #222;
  font-weight: bold;
  line-height: 1.6;
  margin: 1em 0 15px;
  padding: 0;
}

@media screen and (max-width: 640px) {
  h1 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}

h1 a {
  color: inherit;
}

p {
  margin: 15px 0;
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

::-moz-selection {
  color: #000;
  background: #eee;
}

::selection {
  color: #000;
  background: #eee;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}

@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "나눔스퀘어","NanumSquare","나눔바른고딕","NanumBarunGothic","나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","Spoqa Han Sans","Noto Sans Korean","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #666;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  .site-description {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: "나눔스퀘어","NanumSquare","나눔바른고딕","NanumBarunGothic","나눔고딕","NanumGothic","맑은 고딕","Malgun Gothic","Spoqa Han Sans","Noto Sans Korean","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}

nav a {
  margin-left: 20px;
  color: #333;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: #4183C4;
  }
}

.posts>.post {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}

.post .read-more {
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ccc;
  border-radius: 4px;
  color: #fff;
  margin-left: 6px;
  padding: 4px 8px;
  text-decoration: none;
  word-break: keep-all;
  word-wrap: break-word;
}
