<<<<<<< HEAD
a,
a:visited {
=======
a {
>>>>>>> de06d82da751c8fee9bb75cd8999d47418baa4c6
  color: $link-color;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
}
