@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 2.998rem;
  }

  .site-header {
    text-align: left;
  }

<<<<<<< HEAD
=======
  .site-nav {
    margin-top: 0;
  }

>>>>>>> de06d82da751c8fee9bb75cd8999d47418baa4c6
  .site-header a {
    font-size: $h4;
  }

  .site-header .site-title {
    font-size: $h3;
    float: left;
  }

  .site-header .site-nav {
    float: right;
<<<<<<< HEAD
=======
    margin-top: .25rem;
>>>>>>> de06d82da751c8fee9bb75cd8999d47418baa4c6
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }
}
