@charset "UTF-8";

//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Open Sans", "NanumBarunGothic", "NanumGothic", "Malgun Gothic", "Spoqa Han Sans", "Helvetica Neue",Helvetica, Arial, sans-serif;
$helveticaNeue: '나눔스퀘어', 'NanumSquare', '나눔바른고딕', 'NanumBarunGothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', 'Spoqa Han Sans', 'Noto Sans Korean', "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: "Open Sans", "NanumBarunGothic", "NanumGothic", "Malgun Gothic", "Spoqa Han Sans", "Helvetica Neue", Georgia, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}