---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.6;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.date {
    margin-top: 1.4rem;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    text-transform: uppercase;
    background-color: #ccc;
    border-radius: 4px;
    color: #fff;
    margin-left: 6px;
    padding: 4px 8px;
    text-decoration: none;
    word-break: keep-all;
    word-wrap: break-word;
  }

  .read-more:hover {
    background-color: #999;
    color: #fff;
  }
}

.footnotes {
    border-top: 2px solid #d7d7d7;
    margin-top: 3rem;
    padding-top: 0.5rem;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.pagination {
    margin-top: 3rem;
}

footer {
  padding: 20px 0;
  text-align: center;
}

a.externalLink{padding-right:12px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEX///8AZswAZv8zmcxmmcyZzP////8KVYk7AAAAAXRSTlMAQObYZgAAADJJREFUeAElxrEBADAIAjBE4f+TKzZTEDxZj9cV7Gst6tfeqa8ZOalGLDS2Fl1AGr8nfTvYARCGQbyNAAAAAElFTkSuQmCC) no-repeat 100% 50%;}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


/*****************************************************************************/
/*
/* TAGS
/*
/*****************************************************************************/
/* Tag icon stuff : http://hamishwillee.github.io/2014/06/06/tags-in-jekyll-without-plugins/
-------------------------------------------------- */
.tag-icon-image
{
display:block;
background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAflBMVEUAAAD7+/uYmJiSkpL+/v79/f0iIiKMjIzQ0NAFBQVRUVEkJCT29vYbGxtiYmJubm6KioopKSlAQEAGBgYTExNOTk5UVFSQkJCQkJCRkZGgoKCkpKTl5eXv7+8CAgINDQ0yMjJZWVl3d3eJiYmAgICtra2+vr7Nzc3q6uoAAADwZX87AAAAKXRSTlMABFlmAQPWdCPyqNUI3pKIds648uWrom1oZ1ZTFAv47MaegHV1SjcqEJbpgewAAADPSURBVCjPfdHbjoIwFIXhVS3FsQUEHc/OeNa+/wu6Jak7stCfBEi+rJsW72X4lsFm771r8/5wtx1dxTJ/NpHnNJt3dBgH0BYFazDSdu6qYHJPauTPoimOfxUmrl938YrzDLljlTLrm0sxljVrO7/V02ab1qraDkjMai0yk1hVsxD2pJqxC0eqBZT1846WrO1qEDfyXX/UlWxRlAi9OmxX1f9I16QWvz/JSYUzjJOzqrOSk5KrkneUXLXXgyr7dKTKLudTxqUqeVWvVclfL+0BKKMNFMtNV/QAAAAASUVORK5CYII=');
background-size: 13px;
background-repeat: no-repeat;
background-position: left center;
padding-left:20px;
}
.tag-link {
  display: inline;
  font-size: 0.8em;
}
.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}
.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.tag-box:after {
  clear: both;
}
.tag-box.inline li {
  float: left;
  font-size: 13px;
  font-size: 0.875rem;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}


/*****************************************************************************/
/*
/* Footnotes
/*
/*****************************************************************************/

.footnote-container{display:inline-block;position:relative;text-indent:0}.footnote-backdrop{cursor:pointer}.footnote-button{position:relative;z-index:5;top:-.1em;display:inline-block;border:0;margin:0 .2em 0 .1em;padding:.35em;width:2em;height:1.3em;-moz-border-radius:0.475em;-webkit-border-radius:0.475em;border-radius:0.6em;cursor:pointer;background:rgba(110,110,110,0.2);font-size:1.05rem;line-height:0;vertical-align:super;-moz-transition-property:background;-o-transition-property:background;-webkit-transition-property:background;transition-property:background;-moz-transition-duration:0.25s;-o-transition-duration:0.25s;-webkit-transition-duration:0.25s;transition-duration:0.25s}.footnote-button:after{content:attr(data-fn-number);position:absolute;top:50%;left:49%;-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);display:block;font-size:.85em;font-weight:bold;color:rgba(110,110,110,0.5);-moz-transition:color 0.25s ease;-o-transition:color 0.25s ease;-webkit-transition:color 0.25s ease;transition:color 0.25s ease}.footnote-button:hover{outline:none;background:rgba(110,110,110,0.5)}.footnote-button:hover:after{color:#fafafa}.footnote-button.is-active{background:#6e6e6e;-moz-transition-delay:0.1s;-o-transition-delay:0.1s;-webkit-transition-delay:0.1s;transition-delay:0.1s}.footnote-button.is-active:after{color:#fafafa}.littlefoot-footnote{position:absolute;top:0;left:0;z-index:10;max-width:90vw;margin:2em 0;background:#fafafa;opacity:0;-moz-border-radius:0.25em;-webkit-border-radius:0.25em;border-radius:0.25em;border:1px solid #d8d8d8;-moz-transition-property:opacity;-o-transition-property:opacity;-webkit-transition-property:opacity;transition-property:opacity;-moz-transition-duration:0.25s;-o-transition-duration:0.25s;-webkit-transition-duration:0.25s;transition-duration:0.25s;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-webkit-transition-timing-function:ease;transition-timing-function:ease;-moz-transform-origin:50% 0 50%;-ms-transform-origin:50% 0 50%;-webkit-transform-origin:50% 0 50%;transform-origin:50% 0 50%}.littlefoot-footnote.footnote-is-active{opacity:.97}.littlefoot-footnote.footnote-is-top{top:auto;bottom:0}.footnote-wrapper{position:relative;z-index:14;width:22em;max-width:100%;overflow:hidden;margin:0;background:inherit;-moz-border-radius:0.25em;-webkit-border-radius:0.25em;border-radius:0.25em}.footnote-tooltip{position:absolute;top:-.49em;z-index:12;width:1.3em;height:1.3em;background:inherit;border:1px solid #d8d8d8;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.footnote-is-top .footnote-tooltip{top:auto;bottom:-.49em}.footnote-content{position:relative;z-index:8;max-height:15em;padding:1em;overflow:auto;-webkit-overflow-scrolling:touch;-webkit-font-smoothing:subpixel-antialiased;line-height:1.418em}.footnote-content *:first-child{margin-top:0;padding-top:0}.footnote-content *:last-child{margin-bottom:0;padding-bottom:0}.footnote-content p{font-size:0.85em}